<div class="container-fluid" >
  <div class="well">
    <h1>Welcome to Blackjack!</h1>
  </div>
</div>



<div class="container-fluid">
  <form role="form">
    <div class="form-group" ng-show="!playerReady">
      <label for="name" >Please enter your name</label>
      <input type="name" class="form-control" id="name" placeholder="Your name.." ng-model="playerName" >
      <button type="submit" class="btn btn-default"  ng-click="gameStart()">Submit</button>
    </div>
  </form>
</div>

<!-- || !canRestart -->
<div class="container-fluid" ng-show="gameinProgress">
  <div class="container-fluid" >
    <div class="jumbotron">

        <h2 ng-show="playerReady">Welcome {{playerName}}!</h2>

        <div ng-hide="canRestart">
          <button type="submit" class="btn btn-info" ng-click="deal()" ng-hide="canHitOrStay">Deal</button>
          <button type="submit" class="btn btn-warning" ng-click="hit()" ng-show="canHitOrStay">Hit</button>
          <button type="submit" class="btn btn-success" ng-click="stay()" ng-show="canHitOrStay">Stay</button>
        </div>
        <label>Player Cards</label>
        <button class="btn btn-warning" ng-click="reStart()" ng-show="canRestart">restart</button>
        <h3 ng-show="gameinProgress">Your score is {{player.Score}}</h3>
        <div >
          <playing-card id="card" suit="{{card.suit}}" rank="{{card.rank}}"  ng-repeat="card in player.Cards"/>
        </div>
        
    </div>
  </div>

  <div class="container-fluid">
    <div class="jumbotron">
      <label>Dealer Cards</label>
      <h3 ng-show="gameinProgress">Dealer is {{dealer.Score}}</h3>
      <playing-card suit="{{card.suit}}" rank="{{card.rank}}" ng-repeat="card in dealer.Cards"/>

    </div>
  </div>
</div>


